Q1. Explain with an example each when to use a for loop and a while loop.
Ans--
1. for loop is used when number of iterations are already known & it never checks for the condition at first
2. for loop is a single line command and can be executed repeatedly
3. below is an example of for loop

In [2]:
l=[1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

above the for loop is getting executed for the mentioned list and it is displaying the list members which are integer type as an output

while loop---
1. while loop is used when number of iterations are unkown 
2. The statement repeats itself till the boolean value becomes false
3. In a while loop, the condition is tested at the start
4. below is an example of while loop

In [8]:
a=1
while a<=10:
     print(a)
     a=a+1

1
2
3
4
5
6
7
8
9
10

above while loop is getting executed until the condition becomes false. at 'a>11' the loop breaks and execution stops

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [ ]:
#Using "for loop" for sum of first 10 natural numbers
result=0
for i in range(1,11):
    result=result+i
print("Sum is", result)

In [ ]:
#using "for loop" for product of first 10 natural numbers
result=1
for i in range(1,11):
    result=result*i
print("Product is", result)

In [1]:
#using "while loop" for sum of first 10 natural numbers
a=1
sum=0
while a<=10:
    sum=sum+a
    a=a+1
print("sum is", sum)

sum is 55

In [1]:
#using "while loop" for product of first 10 natural numbers
a=1
result=1
while a<=10:
    result=result*a
    a=a+1
print("product is", result)

product is 3628800

Q3. Create a python program to compute the electricity bill for a household.The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.You are required to take the units of electricity consumed in a month from the user as input. Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.

In [10]:
units= int(input("enter the units"))

if units<=100:
    total=units*4.5
elif units>=101 and units<=200:
    total=450+((units-100)*6)
elif units>=201 and units<=300:
    total=450+600+((units-200)*10)
else:
    total=450+600+1000+((units-300)*20)
    
print(total)

enter the units 310

2250

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [36]:
cube=[]
for i in range(1,101):
    if (i**3) % 4 ==0 or (i**3) %5==0:
        cube.append(i**3)
print(cube)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [37]:
string = "I want to become a data scientist"
count=0
vow=["a","e","i","o","u"]
for i in (len(string)):
    if string[i] in vow:
        count=count+1